<%= form_for([@post, @post.comments.build]) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :comment_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :comment_body %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>